<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">




<suite name="Suite">
	<listeners>
        <listener class-name="retryanalyser.RetryLisetner"/>
  	</listeners>
  <test name="Test">
    <classes>
      <class name="TestNG.TestNG.TestngPractice"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
